<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

	<add key="SMTPHost" value="smtp.gmail.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="dinhtienbo19@gmail.com"/>
	<add key="FromEmailPassword" value="@Bo19082000"/>
	<add key="FromName" value="DinhTienBo"/>
	<add key="AdminEmail" value="dinhtienbo2000@gmail.com"/>
	<add key="CurrentLink" value="http://localhost:44341/"/>
</appSettings>